.nav-sidebar {
	font-size: 1.5em;
	font-family: 'Adamina', serif;
	margin-top: 1em;
	color: #050505;
}

.sidebar {
	border-right: 1px solid #5E2330;
}

.main {
	padding-left: 5em;
}

.nav-sidebar li :hover {
	color: purple;
}

a {
	color: black;
}

#navigation-bar {
	border-top: 1px solid #5E2330;
}

#book-img {
	margin-top: 4em;
	margin-bottom: 30em;
}

#site-title {
	font-size: 12.5em;
	margin-top: .1em;
	font-family: 'Adamina', serif;
	color: #050505;
}

hr {
	width:90%;
	height:1px;
	background: #5E2330;
	margin-bottom: 0;
}

.color {
	background: #5E2330;
}
